
body {
	background:blue;
	color:yellow;
}
.button {
	font:bold 15px Arail;
	text-decoration:none;
	background-color:#EEEEEE;
	color:#333333;
	height:100px;
	width:100px;
	padding:10px 20px 10px 20px;
	border-top:10px solid #cccccc;
	border-right:10px solid #333333;
	border-bottom:10px solid #333333;
	border-left:10px solid #cccccc;
}
